<form [formGroup]="searchForm">
    <mat-form-field appearance="outline">
        <input matInput formControlName="searchQuery" placeholder="You wanted to ask me something...?">
    </mat-form-field>

    <mat-radio-group formControlName="table">
        <mat-radio-button value="User">User</mat-radio-button>
        <mat-radio-button value="Group">Group</mat-radio-button>
        <mat-radio-button value="Orchestra">Orchestra</mat-radio-button>
    </mat-radio-group>
   
    <button mat-raised-button color="primary" (click)="onSearch()">Search</button>
</form>
