@import "src/app/styles/utils/colors";

.main-content {
    height: 100%;
    margin: 0px 250px;
    background-color: $background-not-content;
    color: whitesmoke;
    padding-top: 10px;
}

.mat-tab-label {
    color: white;
    opacity: 1;
}

.about {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin-bottom: 100px;
}

.name {
    display: flex;
    justify-content: space-around;

    h1 {
        font-size: 80px;
        text-align: center;
        font-weight: bold;
    }
}

.followers {
    display: flex;
    margin-left: 50px;
    justify-content: space-evenly;
}

.buttons>span {
    display: flex;
    justify-content: space-between;
}

.button {
    width: fit-content;
    font-size: 20px;
    color: $color-link;
    background-color: $background-content-darker;
    padding: 8px;

    &.followers {
        
        color: white;
    }

    &.positive {
        color: rgb(26, 193, 26);
    }

    &.negative {
        color: red;
    }

    &.edit {
        margin-bottom: 10px;
        font-size: 10px;
        padding: 4px;
    }

    .material-icons, .mat-icon {
        font-size: 20px;
        width: 20px;
        height: 20px;
    }
}

.activity {
    .memberships {
        width: 30%;
        height: fit-content;
        margin: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        align-items: center;
        padding: 10px;
        border-radius: 4px;
        background-color: $background-content-darker;
    }

    .info-posts {
        width: 60%;
        
        .info {
            padding: 20px;
            font-size: 20px;
        }
    }
    display: flex;
}

.orchedit {
    display: flex;
    align-items: flex-start;
}

.follows {
    border-radius: 4px;
    background-color: $background-content-darker;
    color: white;
    padding: 10px;
}

::ng-deep .mat-tab-labels {
    display: flex;
    justify-content: space-around;

}

::ng-deep .cdk-overlay-connected-position-bounding-box {
    z-index: 10000 !important;
}
    
::ng-deep .cdk-global-overlay-wrapper {
z-index: 1000 !important;
}