<div class="main-content" *ngIf="user$ | async; let user">
    <section class="about">
        <app-avatar [avatarUrl]="user?.avatarUrl"></app-avatar>

        <div class="info">
            <div class="name">
                <h1>{{user.firstName}} {{user.lastName}}</h1>
            </div>
        
            <div class="buttons">
                <span *ngIf="followed$ | async; else elseBlock">
                    <button class="button negative" mat-button (click)="onUnfollow()">
                        <mat-icon>person_remove</mat-icon>
                        <span>Unfollow</span>
                    </button>

                    <button mat-button class="button">
                        <span class="material-icons">chat</span>
                        <span>Message</span>
                    </button>
                </span>
                <ng-template #elseBlock>
                    <span *ngIf="getCurrentUser()?.id != user.id; else currentUser">
                        <button mat-button class="button positive" (click)="onFollow()">
                            <span class="material-icons">person_add</span>
                            <span>Follow</span>
                        </button>
        
                        <button mat-button class="button">
                            <span class="material-icons">chat</span>
                            <span>Message</span>
                        </button>
                    </span>
                </ng-template>
        
                <ng-template #currentUser>
                    <button mat-button class="button" (click)="openEditModal(editForm)">
                        <span class="material-icons">edit</span>
                        <span>Edit profile</span>
                    </button>
                </ng-template>
        
                <ng-template #editForm>
                    <app-user-edit-form [user]="user" (editUser)="onEditUser($event)"></app-user-edit-form>
                </ng-template>
            </div>
        </div>
    </section>
    
    <div class="activity">
        <div class="memberships">
            <div class="orchestra">
                <h2>My orchestra</h2>
                <app-orchestra-membership [orchestraMembership]="orchestraMembership$ | async"></app-orchestra-membership>
            </div>
    
            <div class="groups">
                <h2>My groups</h2>
                <div *ngIf="groupMemberships$ | async; let groupMemberships; else noGroup">
                    <app-group-memberships [groupMemberships]="groupMemberships"></app-group-memberships>
                </div>
    
                <ng-template #noGroup>
                    <div>I'm in no groups whatsoever.</div>
                </ng-template>
            </div>
        </div>
    
        <div class="info-posts">
            <mat-tab-group>
                <mat-tab label="Info"> {{user.info}} </mat-tab>
                <mat-tab label="Posts">
                    <p>
                        <button type="button" mat-button (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">
                          <span class="material-icons">add</span>
                        <span>New post</span>
                        </button>
                      </p>
                      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                        <div class="card">
                          <div class="card-body">
                            <app-post-form (post)="onSave($event)"></app-post-form>
                          </div>
                        </div>
                      </div>
                    <app-post-list (comment)="onComment($event)" [posts]="posts$ | async"></app-post-list>
                </mat-tab>
                <mat-tab label="Events"> 
                    {{events$ | async}}
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    
</div>



