<div *ngIf="user$ | async; let user">
    <app-avatar [avatarUrl]="user?.avatarUrl"></app-avatar>

    <div>
        <p>{{user.firstName}}</p>
        <p>{{user.lastName}}</p>
    </div>


    <div class="buttons">
        <span *ngIf="followed$ | async; else elseBlock">
            <button mat-button (click)="onUnfollow()">Unfollow</button>
        </span>
        <ng-template #elseBlock>
            <span *ngIf="getCurrentUser()?.id != user.id">
                <button mat-button (click)="onFollow()">Follow</button>
            </span>
        </ng-template>
        
        <button mat-button>Message</button>
    </div>

    <div class="memberships">
        <div class="orchestra">
            <h2>My orchestra</h2>
            <app-orchestra-membership [orchestraMembership]="orchestraMembership$ | async"></app-orchestra-membership>
        </div>

        <div class="groups">
            <h2>My groups</h2>
            <div *ngIf="groupMemberships$ | async; let groupMemberships; else noGroup">
                <app-group-memberships [groupMemberships]="groupMemberships"></app-group-memberships>
            </div>

            <ng-template #noGroup>
                <div>I'm in no groups whatsoever.</div>
            </ng-template>
        </div>
    </div>

    <div class="info-posts">
        <mat-tab-group>
            <mat-tab label="Info"> {{user.info}} </mat-tab>
            <mat-tab label="Posts"> 
                <app-post-list [posts]="posts$ | async"></app-post-list>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>



