<div *ngIf="user$ | async; let user">
    <app-avatar [avatarUrl]="user?.avatarUrl"></app-avatar>

    <div>
        <p>{{user.firstName}}</p>
        <p>{{user.lastName}}</p>
    </div>


    <div class="buttons">
        <span *ngIf="followed$ | async; else elseBlock">
            <button mat-button (click)="onUnfollow()">
                <mat-icon>person_remove</mat-icon>
                Unfollow
            </button>
        </span>
        <ng-template #elseBlock>
            <span *ngIf="getCurrentUser()?.id != user.id; else currentUser">
                <button mat-button (click)="onFollow()">
                    <span class="material-icons">person_add</span>
                    Follow
                </button>

                <button mat-button>
                    <span class="material-icons">chat</span>
                    Message
                </button>
            </span>
        </ng-template>

        <ng-template #currentUser>
            <button mat-button (click)="openEditModal(editForm)">
                <span class="material-icons">edit</span>
                Edit profile
            </button>
        </ng-template>

        <ng-template #editForm>
            <app-user-edit-form [user]="user" (editUser)="onEditUser($event)"></app-user-edit-form>
        </ng-template>
    </div>

    <div class="memberships">
        <div class="orchestra">
            <h2>My orchestra</h2>
            <app-orchestra-membership [orchestraMembership]="orchestraMembership$ | async"></app-orchestra-membership>
        </div>

        <div class="groups">
            <h2>My groups</h2>
            <div *ngIf="groupMemberships$ | async; let groupMemberships; else noGroup">
                <app-group-memberships [groupMemberships]="groupMemberships"></app-group-memberships>
            </div>

            <ng-template #noGroup>
                <div>I'm in no groups whatsoever.</div>
            </ng-template>
        </div>
    </div>

    <div class="info-posts">
        <mat-tab-group>
            <mat-tab label="Info"> {{user.info}} </mat-tab>
            <mat-tab label="Posts"> 
                <app-post-list [posts]="posts$ | async"></app-post-list>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>



