@import "src/app/styles/utils/colors";

:host {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: $background-content;
    transform: translateX(-95%);
    transition: 0.5s;
    opacity: 0.8;
    row-gap: 100px;
    margin-right: 200px;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    
    .search {
        margin-bottom: 10px;
    }

    h2 {
        margin-bottom: 0;
    }
}

.sidebar:hover {
    transition: 0.5s;
    opacity: unset;
    transform: translateX(0);
}

.home-page__button {
    font-size: 20px;
    
    .material-icons {
        font-size: 20px;
    }
}

.link {
    font-size: 20px;
    text-decoration: none;
    color: $color-link;

    &:hover {
        color: $color-link-hover;
    }
}

.conductor {
    color: white;
}