<button mat-button (click)="openModal(search)">
    <span class="material-icons">search</span>
    <span>Search</span>
</button>

<div class="search-modal">
    <ng-template #search>
        <h2>What you want to search for?</h2>
        
        <app-search-form
            (search)="onSearch($event)"
        >
        </app-search-form>

        <div *ngIf="results$">
            <app-search-result-list
                [resultArray]="results$"
            >
            </app-search-result-list>
        </div>



    </ng-template>
</div>

<div class="conductor">
    <p>You are conducting an orchestra? Connect it here!</p>
    <div>
        <button mat-button (click)="openModal(orchestra)">
            <span class="material-icons">add_circle</span>
            <span>Add new orchestra</span>
        </button>
    </div>

    <ng-template #orchestra>
        <app-orchestra-form
            (orchestraFormData)="onNewOrchestra($event)"
        >
        </app-orchestra-form>
    </ng-template>
</div>


<ng-container *ngFor="let pe of (postsAndEvents$ | async)">
    <app-post-list 
    (comment)="onComment($event)"
    [posts]="pe?.posts"
    >
    </app-post-list>

    <app-event-list 
        (joinEventId)="onJoinEvent($event)"
        (quitEventId)="onQuitEvent($event)"
        [events]="pe?.events"
        [joined$]="joined$"
        [currentUser]="getCurrentUser()"
    >
    </app-event-list>
</ng-container>

