$background-content: rgb(126, 126, 126);
$background-content-darker: rgb(75, 75, 75);
$background-not-content: rgb(40,36,36);
$background-nav: rgb(32,28,28);
$color-link: #39c8ff;
$color-link-hover: #2ea5d2;