@import "src/app/styles/utils/colors";

.comment-wrapper {
  display: flex;  
  align-items: flex-start;
}

.comment {
    background-color: $background-content;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.commentator {
    color: $color-link;
    text-decoration: none;
}

.commentator:hover {
    color: $color-link-hover;
}

.content {
    font-size: larger;
}

.comment-image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}