@import "src/app/styles/utils/colors";

.example-card {
    max-width: 550px;
    background-color: $background-content-darker;
    color: white;

    .header {
        color: $color-link;

        &:hover {
            color: $color-link-hover;
        }
        
        display: flex;
        margin: 8px 0px;
        margin-right: 66px;
        text-decoration: none;

        .title {
            margin-top: 6px;
            margin-left: 10px;

            .subtitle {
                margin: 0px;
            }
        }
    }

    .content {
        font-size: larger;
        padding-bottom: 5px;
        border-bottom: 1px solid gainsboro;
    }

    .tri-dot-menu {
        margin-left: auto;
    }
}

.comments {
    background-color: $background-content-darker;
}

.delete mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    color: red;
}

.card {
    border: none;
    // border-top: 2px solid rgba(0, 0, 0, 0.050);
    border-radius: 4px;

}

button.mat-focus-indicator.delete.mat-menu-item {
    color: red;
}

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  