<mat-card class="example-card">
    <mat-card-header>
        <a class="header" [routerLink]="['/user/', post?.creator!.id]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
            <img mat-card-avatar class="example-header-image" src="{{post?.creator?.avatarUrl}}"/>
            <mat-card-title class="title">
                {{post?.creator?.firstName}} {{post?.creator?.lastName}} 
                <mat-card-subtitle class="subtitle"> {{post?.createdAt | date}} </mat-card-subtitle>
            </mat-card-title>
        </a>

        <button class="tri-dot-menu" *ngIf="post?.creator?.id === currentUser?.id" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="mat-menu">
          <button mat-menu-item class="delete" (click)="onDelete()">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
          <button mat-menu-item (click)="onEdit(editForm)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
        </mat-menu>
    </mat-card-header>
    <img mat-card-image src="{{post?.imageUrl}}" alt="Photo of a Shiba Inu">
    <mat-card-content class="content">
      <p>
        {{post?.content}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample">
          <span class="material-icons">comment</span>
          COMMENTS
        </button>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="card">
          <div class="card-body" *ngIf="!post?.comments; else elseBlock">
            No comments on this post yet.
          </div>
          <ng-template #elseBlock>
            <app-comment-list [comments]="post?.comments"></app-comment-list>
          </ng-template>

          <app-comment-form (comment)="onComment($event)"></app-comment-form>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>

<ng-template #editForm>
  <app-post-edit-form
    [post]="this.post"
    (editFormData)="onSave($event)"
  >
  </app-post-edit-form>
</ng-template>