.example-card {
    max-width: 400px;

    .header {
        display: flex;
        margin: 8px 0px;
        text-decoration: none;

        .title {
            margin-top: 6px;
            margin-left: 10px;

            .subtitle {
                margin: 0px;
            }
        }
    }
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  