@import "src/app/styles/utils/colors";

.content {
    background-color: $background-not-content;
    min-height: 100%;
}

.nav {
    background-color: $background-nav;
    color: white;
    border-bottom: 2px solid rgb(109, 109, 109);
}