<form [formGroup]="editForm" class="form">
    <h2>Edit post</h2>
    <mat-form-field appearance="outline">
        <mat-label>Content</mat-label>
        <textarea matInput class="content" formControlName="content"></textarea>
    </mat-form-field>

    <img class="post-image" src="{{imageUrl$ | async}}" alt="">

    <label class="custom-file-upload">
        <input class="input-image" type="file" formControlName="image" (change)="onChange($event)">
        Upload image
    </label>

    <button mat-raised-button color="primary" (click)="onEdit()" [disabled]="editForm.invalid">Save</button>
</form>