.form {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.post-image {
    width: 250px;
    margin-left: 100px;
    margin-bottom: 10px;
}

.input-image {
    color: red;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    width: fit-content;
    margin-bottom: 10px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: aliceblue;
}
