<form [formGroup]="countryForm" class="form">
    <h2>Insert new country</h2>
    <mat-form-field appearance="outline">
        <mat-label>Country name</mat-label>
        <input matInput formControlName="name" type="text" >
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Country ISO code</mat-label>
        <input matInput formControlName="isoCode" type="text" >
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="countryForm.invalid" (click)="onSave()">Post</button>
</form>
