@import "src/app/styles/utils/colors";

.example-card {
    width: 380px;
    padding: 0;

    .header {
        padding: 10px;
        justify-content: space-between;
        background-color: $background-content-darker;
        color: white;

        .header-link {
            text-decoration: none;
            color: $color-link;
            margin-left: 5px;
        }

        .header-link:hover {
            color: $color-link-hover;
        }
    }

    .content {
        padding: 10px;
        background-color: $background-content;
        color: white;
        margin-bottom: 0;
    }

    .actions {
        border-top: 1px solid $background-content-darker;
        margin: 0;
        padding: 10px;
        background-color: $background-content;
        color: white;
    }

    .tri-dot-menu {
        margin-left: auto;
    }
}

.info-tab {
    display: flex;

    .info-content {
        margin-left: 10px;
        margin-top: 6px;
    }
}

.delete mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    color: red;
}

button.mat-focus-indicator.delete.mat-menu-item {
    color: red;
}

.card {
    border: none;
}