
<form [formGroup]="registration" class="form">
    <div class="common-fields">
        <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput [type]="'text'" formControlName="firstName">
            <mat-error *ngIf="registration.get('firstName')?.errors?.['invalidName']">This can't be a name</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput [type]="'text'" formControlName="lastName">
            <mat-error *ngIf="registration.get('lastName')?.errors?.['invalidName']">This can't be a name</mat-error>
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput  formControlName="email">
        <mat-icon matPrefix>person</mat-icon>
        <mat-error *ngIf="registration.get('email')?.errors?.['required'] else notEmpty">Cannot be empty</mat-error>
        <ng-template #notEmpty>
            <mat-error *ngIf="registration.get('email')?.errors?.['email']">Hey! That's not an email!</mat-error>
        </ng-template>
    </mat-form-field>

    <div class="common-fields" formGroupName="passwords">
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="'password'" formControlName="password">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-error *ngIf="registration.get(['passwords', 'password'])?.errors?.['required']">Cannot be empty</mat-error>
            <mat-error *ngIf="registration.get(['passwords', 'password'])?.errors?.['minlength']">Password must be at least 8 characters long</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Confirm password</mat-label>
            <input matInput [type]="'password'" formControlName="confirmPassword">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-error *ngIf="registration.get(['passwords', 'password'])?.errors?.['required']">Cannot be empty</mat-error>
        </mat-form-field>
        <mat-error *ngIf="registration.get('passwords')?.errors?.['notSame']">
            Passwords mismatch!
        </mat-error>
    </div>

    <mat-form-field class="textarea" appearance="outline">
        <mat-label>Info</mat-label>
        <textarea matInput formControlName="info"></textarea> 
        <mat-error *ngIf="registration.get('info')?.errors?.['required']">Cannot be empty</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Your location" formControlName="postNumber">
            <ng-container *ngFor="let location of (locations$ | async)">
                <mat-option [value]="location.postNumber">{{location.name}}</mat-option>                 
            </ng-container>
        </mat-select>
        
        <mat-error *ngIf="registration.get('info')?.errors?.['required']">Cannot be unselected</mat-error>
    </mat-form-field>

    <button mat-raised-button  color="primary" (click)="onRegister()" [disabled]="registration.invalid">Sign up</button>
    <p>Already have an account? <a [routerLink]="'/login'" > <b>Login</b></a></p>
</form>
