
<form [formGroup]="eventForm">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [type]="'text'" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Start date</mat-label>
        <input matInput [type]="'date'" formControlName="startDate">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Start time</mat-label>
        <input matInput [type]="'time'" formControlName="startTime"> 
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>End date</mat-label>
        <input matInput [type]="'date'" formControlName="endDate">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput [type]="'text'" formControlName="description">
        <mat-error *ngIf="eventForm.get('info')?.errors?.['required']">Cannot be empty</mat-error>
    </mat-form-field>

    <mat-form-field class="proba">
        <mat-select formControlName="postNumber">
            <ng-container *ngFor="let location of (locations$ | async)">
                <mat-option [value]="location.postNumber">{{location.name}}</mat-option>                 
            </ng-container>
        </mat-select>
        
        <mat-error *ngIf="eventForm.get('info')?.errors?.['required']">Cannot be unselected</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput [type]="'text'" formControlName="address">
        <mat-error *ngIf="eventForm.get('info')?.errors?.['required']">Cannot be empty</mat-error>
    </mat-form-field>


    <button mat-raised-button (click)="onSave()" color="primary"    >Save</button>
</form>
