<div class="logo">
    <h1>VELIKI LOGO APLIKACIJE</h1>
</div>

<div class="links">
    <div>
        <a class="link" [routerLink]="''" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
            <button mat-button>
                <span class="material-icons">home</span>
                Home
            </button>
        </a>
    </div>

    <div>
        <a class="link" [routerLink]="getCurrentUserProfileLink()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
            <button mat-button>
                <span class="material-icons">person</span>
                My profile
            </button>
            
        </a>
    </div>

    <div>
        <button mat-button (click)="logOut()">
            <span class="material-icons">logout</span>
            Logout
        </button>
    </div>

    <div *ngIf="currentUser?.abilityLevel == adminRole">
        <button mat-button (click)="openModal(admir)">
            <span class="material-icons">admin_panel_settings</span>
            Admin page
        </button>

        <ng-template #admir>
            <div class="countries">
                <h2>
                    Countries
                    <button mat-button (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">
                        New
                    </button>
                    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                        <app-country-form
                            (country)="onNewCountry($event)"
                        >

                        </app-country-form>
                    </div>
                </h2>
                <div *ngFor="let country of (countries$ | async)">
                    {{country?.countryIsoCode}}: {{country?.name}}
                </div>
            </div>

            <div class="locations">
                <br><br>
                <h2>
                    Locations
                    <button mat-button (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed1">
                        New
                    </button>
                </h2>
                <div #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
                    <app-location-form (location)="onNewLocation($event)">
                    </app-location-form>
                </div>
                <div *ngFor="let location of (locations$ | async)">
                    {{location?.postNumber}} ({{location?.countryIsoCode}}): {{location?.name}}
                </div>
            </div>
        </ng-template>
    </div>
</div>