@import "src/app/styles/utils/colors";

:host {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.logo {
    display: flex;    
    align-items: center;

    h1 {
        margin-top: 15px;
        margin-left: 12px;
    }
}

.logo-image {
    width: 50px;
}

.links {
    display: flex;
}

.active {
    color: red;
}

.countries, .locations {
    h2 {
        font-weight: bold;
    }
    background-color: $background-content-darker;
    color: white;
    font-size: 20px;
    padding: 10px;
}