@import "src/app/styles/utils/colors";

.results {
    padding: 10px;
    background-color: $background-content;
}

.link {
    color: $color-link;
    text-decoration: none;
    display: flex;
    flex-direction: row;

    &:hover {
        color: $color-link-hover;
    }
}

.result-image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}